<div class="container">

  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        {{#linkTo 'index' class="brand"}}{{appName}}{{/linkTo}}
        <ul class="nav">
          {{#linkTo 'index' tagName='li'}}<a>Home</a>{{/linkTo}}
          {{#linkTo 'frootwars' tagName='li'}}<a>Froot Wars</a>{{/linkTo}}
          {{#linkTo 'lastcolony' tagName='li'}}<a>Last Colony</a>{{/linkTo}}
        </ul>
      </div>
    </div>
  </header>

  <section id="main" class="container">
    <div class="row">
      {{linkNav }}


      {{outlet}}
    </div>
  </section>

</div>
