<section class="span12 hero-unit">
  <h1>Welcome to Game Dev</h1>
  <p>
    This is my little app used to lear HTML5 game development and Ember.js.</p> 
    {{#linkTo "canvas" class="btn btn-primary"}}Start with Canvas »{{/linkTo}}
</section>
