<section class="hero-unit">
  <h1>Welcome to Game Dev</h1>
  <p>
    This is my little app used to lear HTML5 game development and Ember.js.</p> 
    {{#linkTo "frootwars" class="btn btn-primary"}}Start with Froot Wars! »{{/linkTo}}
</section>
